<div id="sort-links">
  <div class="row">
    <div class="col-sm-12">
      <%= Spree.t(:sort_by) %>
      <div aria-label="sort-links" class="btn-group" role="group">
        <% Spree::FiltersConfiguration::Config.allowed_sortings.each do |sorting| %>
          <%= link_to_sort sorting %>
        <% end %>
      </div>
    </div>
  </div>
</div>
